body {
	margin: 0;
	padding: 0;
	font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
h1 {
    font-size: 1.125rem;
    margin: 0;
}
h2 {
    font-size: 0.85rem;
	font-weight: 600;
	margin: 0;
	padding: 0.425rem 0;
    margin-bottom: 0.425rem;	
	border-bottom: 1px solid #000;
}

header, footer {
	padding: 0.5rem;
}
header {
	border-bottom: 1px solid #ccc;
	background: #595aff;
	color: #fff;
}
footer {
	border-top: 1px solid #ccc;
}
select {
	margin-top: 0.5rem;
	margin-left: 0.5rem;
}
input, select, textarea { 
	border-radius: 4px;
	padding: 0.1rem;
	border: 1px solid;
	
}
label { 
	display: block; 
	line-height: 1.25rem;
}
input[type="text"] {
	color: #595aff;
	font-size: 1rem;
}
input[type="text"]:invalid {
	border: 1px solid rgba(223,64,90,.5);
}
section#submit button {
    border-radius: 4px;
    background: #595aff;
    border: none;
    color: #fff;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    width: 100%;
	cursor: pointer;
}
div#mhi-wrapper {
	min-width: 350px;
	font-size: 1em;
	padding: 0.5rem;
}
#mhi-wrapper section { 
	margin-bottom: 0.2125rem;
}
#server-specific textarea {
	margin-top: 0.2125rem;
    width: 98%;
}

.hide {
	display: none;
}

