html, body {
    margin: 0;
    height: var(--popup-height);
    min-width: 300px;
    max-height: 900px;
}
html {
    --highlight: rgba(130,130,150,0.1);
    --confirmation: rgb(38, 133, 0);
    --hover: rgba(120,120,130,0.15);
    --border: rgba(120,120,130,0.3);
    --border-2: rgba(130,130,150,0.3);
    --radius: 12px;
    --popup-height: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
body {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    min-height: var(--popup-height);
}
.hide {
    display: none;
}
h1 {
    font-size: 1em;
    margin-block: .2em;
}
h2 {
    font-size: 1em;
}
#mhi-wrapper, #mhi-containers {
    display: contents;
}
form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
.scroller {
    height: 0;
    overflow-y: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding: 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
fieldset {
    all: unset;
    display: block;
}
legend {
    all: unset;
}
fieldset > legend, summary {
    margin-inline: .6em;
    padding-top: .6em;
    margin-bottom: .4em;
    font-weight: 700;
}
.row {
    background-color: var(--highlight);
    padding: .8em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 2px;
    position: relative;
    gap: .4em;
    -webkit-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s;
}
.row:hover, .row:focus-within {
    background: var(--hover);
}
.row:first-of-type {
    border-top-left-radius: var(--radius);
    border-top-right-radius: var(--radius);
}
.row:last-of-type {
    border-bottom-left-radius: var(--radius);
    border-bottom-right-radius: var(--radius);
}
label {
    width: 0;
    -webkit-box-flex: 9999;
        -ms-flex-positive: 9999;
            flex-grow: 9999;
}
label::before { /* Make entire .row clickable */
    content: "";
    position: absolute;
    inset: 0;
}
label span {
    display: block;
    font-size: .9em;
    opacity: .7;
    margin-top: .2em;
}
.text-input-container {
    width: 100%;
    display: flex;
    border: 1px solid var(--border);
    border-radius: calc(var(--radius) / 2);
    overflow: hidden;
}
.text-input-container span {
    padding: .7em;
    background-color: var(--highlight);
}
.text-input-container input {
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0;
}
.text-input-container:focus-within {
    outline: auto; /* This is the browser's default focus outline */
}
input, textarea, select {
    border: 1px solid var(--border);
    padding: .7em;
    border-radius: calc(var(--radius) / 2);
    font-size: inherit;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    z-index: 2;
}
.textarea-container {
    width: calc(100% - .14em);
    border-radius: inherit;
}
textarea {
    resize: vertical;
    width: 100%;
}
select {
    margin-block: -.8em;
    padding-block: .4em;
    border: 0;
    background: none;
    text-align: right;
}
.footer {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-top: 1px dashed var(--border-2);
    position: relative;
    background-color: var(--highlight);
    -webkit-box-shadow: 0 0 24px rgba(0,0,0,0.1);
            box-shadow: 0 0 24px rgba(0,0,0,0.1);
}
[type="submit"] {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    padding-inline: 2em;
}
[type="submit"]:not(:hover):not(:focus) {
    background: none;
}
.footer span {
    width: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: right;
    padding-inline: 1em;
}
.footer a {	
    opacity: .7;
    text-underline-offset: .2em;
    color: inherit;
}
#indicator {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    width: calc(100% + 20px);
    font-weight: 600;
    padding: .7em;
    margin: -10px;
    margin-bottom: 8px;
    background-color: var(--confirmation);
    text-align: center;
    color: white;
}
@media (prefers-color-scheme: dark) {
    body {
        color: white;
        background-color: #1c1b22;
    }
}