/*
    Normal stylings
*/

.fediactmodal {
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    margin: 0;
    padding: 0;
}

.fediactmodalinner {
    background-color: #494949;
	border: 1px solid #888;
	width: 50%;
	max-width: 300px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	margin: 0;
	padding: 0;
}

.fediactmodallist {
    width: 100%;
	margin: 0;
	padding: 0;
}

.fediactmodalitem {
    cursor: pointer;
	width: 100%;
	padding: 5px 10px;
	box-sizing: border-box;
}

.fediactmodallink {
    font-size: 16px;
	cursor: pointer;
	text-decoration: none;
	color: white;
}

.fediactprocessing {
    color: white;
	padding-right: 10px;
	padding-left: 10px
}

.fediactunresolved {
    color: orange;
    padding-right: 10px;
    padding-left: 10px
}

.fediactvoted {
    font-style: italic;
}

.fediactvoted > a {
    font-weight: bold;
    color: orange
}


/*  
    We insert these styles for the DOMNodeAppeared function as separate stylesheet (see manifest) to fix
    Firefox blocking script-inserted <style> elements due to the site's CSP (long time bug)
*/

@-moz-keyframes nodeInserted { 
    from {
        opacity: 1;
    } to {
        opacity: 1;
    }
}
@-webkit-keyframes nodeInserted { 
    from {
        opacity: 1;
    } to {
        opacity: 1;
    }
}
@-ms-keyframes nodeInserted { 
    from {
        opacity: 1;
    } to {
        opacity: 1;
    }
}
@-o-keyframes nodeInserted {
    from {
        opacity: 1;
    } to {
        opacity: 1;
    }
}
@keyframes nodeInserted { 
  from { 
      opacity: 1;
  } to {
      opacity: 1;
  }
}

div.status,
div.detailed-status,
div.detailed-status__action-bar,
div.account__header button.logo-button,
div.account__header button.button--follow,
div.public-account-header a.logo-button,
div.account-card a.logo-button,
div.directory-card a.icon-button,
div.detailed-status a.logo-button,
button.remote-button,
script#initial-state { 
    -webkit-animation-name: nodeInserted !important;
    -webkit-animation-duration: 0.001s !important;
    -ms-animation-name: nodeInserted !important;
    -ms-animation-duration: 0.001s !important;
    -moz-animation-name: nodeInserted !important;
    -moz-animation-duration: 0.001s !important;
    -o-animation-name: nodeInserted !important;
    -o-animation-duration: 0.001s !important;
    animation-name: nodeInserted !important;
    animation-duration: 0.001s !important;
}
